@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "auth";

@mixin laptop {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

.feed {
  background: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: "poppins";
  @include tablet() {
    grid-template-columns: 1fr 4fr;
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 80px;
    @include laptop() {
      width: 45px;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include laptop() {
      align-items: end;
    }
    a {
      display: flex;
      gap: 10px;
      padding: 20px 10px;
      border-radius: 6px;
      font-size: 19px;
      cursor: pointer;
      transition: all 0.4s;
      i {
        @include laptop() {
          font-size: 24px;
        }
      }
      span {
        white-space: nowrap;
        @include laptop() {
          display: none;
        }
      }
      &:hover {
        background: rgb(56, 55, 55);
      }
    }
    button {
      background: $blue;
      color: white;
      margin-top: 20px;
      border-radius: 4px;
      font-weight: bold;
      &:hover {
        background: rgba(201, 153, 245, 0.658);
      }
      span {
        white-space: nowrap;
        @include laptop() {
          display: none;
        }
      }
      @include laptop() {
        padding: 0;
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        border-radius: 50% !important;
      }
    }
  }

  .user-info {
    display: flex;
    gap: 10px;
    @include laptop() {
      flex-direction: column;
      align-items: end;
    }
    img {
      height: 60px;
      width: 60px;
    }
    button {
      background: gray;
      color: white;
      border-radius: 6px !important;
      span {
        @include laptop() {
          display: none;
        }
      }
    }
    p {
      @include laptop() {
        display: none;
      }
    }
  }
}

main {
  border: 1px solid rgb(59, 58, 58);

  header {
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
    border-bottom: 1px solid rgb(59, 58, 58);
  }

  #post-tweet {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(59, 58, 58);
    padding: 10px;

    img {
      width: 50px;
      height: 50px;
    }
    .input-area {
      width: 100%;
      input {
        width: 100%;
        background: black;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-size: 20px;
        color: white;
      }

      .buttons {
        display: flex;
        justify-content: end;
        button {
          border-radius: 60px !important;
          background: $blue;
          color: white;
          &:hover {
            background: rgb(115, 115, 243);
          }
        }
      }
    }
  }
}

.news {
  @include tablet() {
    display: none;
  }
}
